{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Produit</td>
            <td>Dêpot</td>
            <td>Quantité</td>
            <td>Date de fabrication</td>
            <td><a href="{{ path('appbundle_dashboard_stock_add') }}">Ajouter</a></td>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td><a href="{{ path('appbundle_dashboard_product_detail', { 'id' : stock.product.id}) }}">{{ stock.product.descriptive }}</a></td>
                <td><a href="{{ path('appbundle_dashboard_room_detail', {'id' : stock.room.id}) }}">{{ stock.room.postalCode }}</a></td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.createdAt|date('d/m/Y h:i:s') }}</td>
                <td>
                    <a href="{{ path('appbundle_dashboard_stock_edit', { 'id' : stock.id}) }}">Editer</a>
                    <a href="{{ path('appbundle_dashboard_stock_remove', { 'id' : stock.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
{% endblock %}